#grid {
  border-collapse: collapse;
  margin-left: 5px;
  margin-right: 5px;
}

#grid td {
  width: 25px;
  height: 25px;
}

table {
  border-spacing: 0;
}

.unvisited {
  border: 1px solid rgb(0, 0, 0);
  background-color: white;
}

.visited {
  border: 1px solid rgb(0, 0, 0);
  animation: animateVisited;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes animateVisited {
  0% {
    background-color: white;
    border-radius: 0%;
  }
  25% {
    background-color: lightblue;
    border-radius: 25%;
  }
  50% {
    background-color: lightskyblue;
  }
  100% {
    background-color: rgb(52, 16, 212);
  }
}

.start {
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(26, 204, 56);
}

.end {
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(253, 0, 0);
}

.wall {
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
}

.shortestPath {
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(149, 194, 27);
  animation: animateSP;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes animateSP {
  0% {
    background-color: white;
  }
  25% {
    background-color: rgb(155, 154, 89);
  }
  50% {
    background-color: rgb(148, 146, 46);
  }
  100% {
    background-color: rgb(233, 236, 8);
  }
}
